{
	"printWidth": 120,
	"useTabs": true,
	"tabWidth": 4,
	"semi": false,
	"trailingComma": "none",
	"endOfLine": "lf",
	"overrides": [
		{
			"files": ["*.yml", "*.yaml"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
